/* styles.css */

div {
    color: red;
    background-color: yellow;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

p {
    color: white;
    font-size: 18px;
}

button {
    background-color: purple;
    font-size: 18px;
}
